{% extends "base/theme.html" %}
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="{{ STATIC_URL }}theme/js/maps.js"></script>
<script>
$(document).ready(function(){
  initMap();
  initMarkers("/api/location/{{ location.id }}/detail/");
  map.fitBounds(bound);
});
</script>
{% endblock %}
{% block maincontent %}
       <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><a href="{{ location.get_absolute_url }}">{{ location.title }}</a></h2>
                    <h3 class="section-subheading text-muted">{{ location.get_category_display }}</h3>
                    
                </div>
            </div>
            <div class="panel">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ location.get_absolute_url }}">
                            <img src="{{ location.get_image_url }}" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-8">
                    <div class="wide-map" id="map-canvas"></div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted">{{ location.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
